<div class="container py-4">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h2 class="card-title">Sujets</h2>
            <button class="btn btn-primary mb-3">
              <a class="nav-link" routerLink="/add-topic">
                Créer un nouveau sujet
              </a>
            </button>
            <ul class="list-unstyled">
                <li class="topic-item">
                    <div>
                        <h3>Sujet Exemple 1</h3>
                        <p>Description du sujet exemple 1</p>
                    </div>
                    <button class="btn btn-outline-primary">
                      <a class="nav-link" routerLink="/list-message">
                        Voir les messages
                      </a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
