<div class="container py-4">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h2 class="card-title">Messages</h2>
            <button class="btn btn-primary mb-3">
              <a class="nav-link" routerLink="/add-message">
                Ajouter un message
              </a>
            </button>
            <div>
                <div class="message-item">
                    <div>
                        <p>Contenu du message exemple 1</p>
                        <small>01/01/2024, 12:00:00</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
