<div class="container py-4">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h2 class="card-title">Forums</h2>
            <button class="btn btn-primary mb-3">
              <a class="nav-link" routerLink="/add-forum">
                Créer un nouveau forum
              </a>
            </button>
            <ul class="list-unstyled">
                <li class="forum-item">
                    <div>
                        <h3>Forum Exemple 1</h3>
                        <p>Description du forum exemple 1</p>
                    </div>
                  <button class="btn btn-outline-primary">
                      <a class="nav-link" routerLink="/list-topic">
                        Voir les sujets
                      </a>
                  </button>
                </li>
            </ul>
        </div>
    </div>
</div>
